<p>Hola {{ name }}, </p>
<p>Alguien solicitó un restablecimiento de contraseña en su cuenta. Si fue usted, utilice el siguiente enlace para
    continuar con su solicitud de restablecimiento de la contraseña.</p>
<br>
<a href={{ link }}>Haga clic aquí para restablecer la contraseña.</a>
<br>
<b>*Tenga en cuenta que el acceso al enlace caducará en 24 horas.</b>
<b>*Si no solicitó esto, este correo electrónico puede ser ignorado.</b>
<br>
<p></p>Un cordial saludo,
<br>
Equipo Quick Test