<p>Hola {{ name }}, </p>
<p> Bienvenido al equipo! <br> Usted está recibiendo este correo electrónico porque {{ owner }} te agregó en su
    Organización. Para continuar, deberá restablecer su contraseña. Utilice el siguiente enlace para restablecer la
    contraseña.</p>
<br>
<a href={{ link }}>Haga clic aquí para restablecer la contraseña.</a>
<br>
<b>*Tenga en cuenta que el acceso al enlace caducará en 24 horas.</b><br>
<b>*Si el enlace para restablecer la contraseña no funciona, vaya a la página de inicio de Quick Test y siga las
    instrucciones para restablecer la contraseña haciendo clic en ¿Olvidó su contraseña?</b>
<br>
<p></p>Un cordial saludo,
<br>
Equipo Quick Test