<p>Hola {{ name }}, </p>
<p> ¡Bienvenido a Quick Test! <br> Estamos emocionados de tenerte a bordo. Experimente nuestra herramienta de gestión de
    casos de prueba utilizada por miles de los mejores equipos de control de calidad y desarrollo del mundo. <br> El
    nombre de su organización es {{organizationName}}. </p>
<br>
<br>
<a href={{ verifyLink }}>Haga clic aquí para verificar su correo electrónico.</a>
<br>
<br>
<b>NOTA: Este es un correo electrónico generado automáticamente, no responda.</b><br>
<b>*Si esto no funciona o sigue atascado, también puede ir a la página de inicio de Quick Test y seguir las
    instrucciones
    para reenviar el enlace de verificación.</b>
<br>
<p></p>Un cordial saludo,
<br>
Equipo Quick Test