<p>Hola {{ name }}, </p>
<p> Gracias por su interés en nuestro producto. Hemos recibido su consulta sobre nuestro producto.</p>
<br>
<p> Nuestro equipo se pondrá en contacto con usted pronto.</p>
<br>
<br>
<b>NOTA: Este es un correo electrónico generado automáticamente, no responda.</b>
<br>
<p></p>Un cordial saludo,
<br>
Equipo Quick Test