<p>Hola {{ name }}, </p>
<p>Esto es para notificarle que su suscripción de prueba gratuita con nosotros ha caducado. No podrá utilizar nuestro
    servicio gratuito hasta que tenga un plan activo.</p>
<p>Suscríbase con nosotros para utilizar más nuestros servicios.</p>
<br>
<p>Gracias por usar Quick Test.</p>
<br>
<b>NOTA: Este es un correo electrónico generado automáticamente, no responda.</b>
<br>
<p></p>Un cordial saludo,
<br>
Equipo Quick Test