<p>Hola {{ name }}, </p>
<p> Utilice el siguiente enlace para verificar su correo electrónico.</p>
<br>
<a href={{ verifyLink }}>Haga clic aquí para verificar su correo electrónico.</a>
<br>
<b>*Tenga en cuenta que el acceso al enlace caducará en 24 horas.</b><br>
<b>*Si esto no funciona o sigue atascado, también puede ir a la página de inicio de Quick Test y seguir las
    instrucciones
    para reenviar el enlace de verificación por correo electrónico.</b>
<br>
<p></p>Un cordial saludo,
<br>
Equipo Quick Test