<p> مرحبًا {{name}} ، </p>
<p> يرجى استخدام الرابط أدناه للتحقق من بريدك الإلكتروني. </ p>
    <br>
    <a href={{ verificationLink }}> انقر هنا للتحقق من بريدك الإلكتروني. </a>
    <br>
    <b> * الرجاء ملاحظة أن صلاحية الوصول إلى الرابط ستنتهي في غضون 24 ساعة. </ b> <br>
        <b> * إذا كان هذا لا يعمل أو لا يزال عالقًا ، يمكنك بدلاً من ذلك الانتقال إلى صفحة Quick Test الرئيسية واتباع
            الإرشادات لإعادة إرسال رابط التحقق من البريد الإلكتروني. </ b>
            <br>
            <p> </p> تحياتي الحارة ،
            <br>
            فريق Quick Test