<p>Hi {{ name }},</p>
<p> Thank you for your interest in our product. We have received your query regarding our product.</p>
<p> Our team will contact you soon.</p>
<b>NOTE: This is an auto generated email, Please do not reply.</b>
<br>
<p></p>Warm Regards,
<br>
Quick Test Team