<p>Hi {{ name }},</p>
<p>Someone requested a reset password on your account. If this was you, Please use the link below to proceed with your
    request to reset the password.</p>
<a href={{ link }}>Click here to reset your password.</a>
<br>
<br>
<b>*Please note, link access will expire in 24 hours. If you did not request this, this email can be ignored.*</b>
<br>
<p></p>Warm Regards,
<br>
Quick Test Team