<p>Hi {{ name }},</p>
<p> Welcome to the team! <br> You are receiving this email because {{ owner }} added you in their Organiation. To
    proceed further you would need to reset your password. Please use the link below to reset the password.</p>
<a href={{ link }}>Click here to reset your password.</a>
<br>
<br>
<b>*Please note, link access will expire in 24 hours. If reset password link does not work, go to Quick Test home page and follow instructions to reset password by clicking on Forgot password.</b>
<br>
<p></p>Warm Regards,
<br>
Quick Test Team