<p>أهلاً {{ name }}, </p>
<p> شكرا لاهتمامك في منتجاتنا. لقد تلقينا استفسارك بخصوص منتجاتنا.</p>
<br>
<p> سيتصل بك فريقنا قريبًا.</p>
<br>
<br>
<b>ملاحظة: هذا بريد إلكتروني تم إنشاؤه تلقائيًا ، يرجى عدم الرد.</b>
<br>
<p></p>تحياتي حارة
<br>
فريق Quick Test