<p> مرحبًا {{name}} ، </p>
<p> هذا لإعلامك بانتهاء صلاحية اشتراكك التجريبي المجاني معنا. لن تتمكن من استخدام خدمتنا المجانية حتى تكون لديك خطة
    نشطة. </ p>
<p> يرجى الاشتراك معنا لاستخدام خدماتنا أكثر. </ p>
    <br>
<p> شكرًا لك على استخدام Quick Test. </p>
<br>
<b> ملاحظة: هذا بريد إلكتروني تم إنشاؤه تلقائيًا ، يرجى عدم الرد. </ b>
    <br>
    <p> </p> تحياتي الحارة ،
    <br>
    فريق Quick Test