<p>أهلاً {{ name }}, </p>
<p>طلب شخص ما إعادة تعيين كلمة المرور على حسابك. إذا كان هذا أنت ، يرجى استخدام الرابط أدناه لمتابعة طلبك لإعادة تعيين
    كلمة المرور.</p>
<br>
<a href={{ link }}>انقر هنا لإعادة تعيين كلمة المرور الخاصة بك.</a>
<br>
<b>*يرجى ملاحظة أن صلاحية الوصول إلى الرابط ستنتهي في غضون 24 ساعة.</b>
<b>*إذا لم تطلب هذا ، فيمكن تجاهل هذا البريد الإلكتروني.</b>
<br>
<p></p>تحياتي حارة،
<br>
فريق Quick Test