<p> مرحبًا {{name}} ، </p>
<p> مرحبًا بك في Quick Test! <br> يسعدنا انضمامك إلينا. جرب أداة إدارة الحالة الاختبارية التي يستخدمها الآلاف من أفضل
    فرق
    ضمان الجودة والتطوير في العالم. <br> اسم مؤسستك هو {{organizationName}}. </p>
<br>
<br>
<a href={{ verificationLink }}> انقر هنا للتحقق من بريدك الإلكتروني. </a>
<br>
<br>
<b> ملاحظة: هذا بريد إلكتروني تم إنشاؤه تلقائيًا ، يرجى عدم الرد. </ b> <br>
    <b> * إذا لم ينجح ذلك أو لا يزال عالقًا ، يمكنك بدلاً من ذلك الانتقال إلى صفحة Quick Test الرئيسية واتباع الإرشادات
        لإعادة إرسال رابط التحقق. </ b>
        <br>
        <p> </p> تحياتي الحارة ،
        <br>
        فريق Quick Test