<p> مرحبًا {{name}} ، </p>
<p> مرحبًا بك في الفريق! <br> أنت تتلقى هذا البريد الإلكتروني لأن {{owner}} أضافك في منظمته. للمضي قدمًا ، ستحتاج إلى
    إعادة تعيين كلمة المرور الخاصة بك. الرجاء استخدام الرابط أدناه لإعادة تعيين كلمة المرور. </ p>
    <br>
    <a href={{ link }}> انقر هنا لإعادة تعيين كلمة المرور. </a>
    <br>
    <b> * الرجاء ملاحظة أن صلاحية الوصول إلى الرابط ستنتهي في غضون 24 ساعة. </ b> <br>
        <b> * إذا لم يعمل رابط إعادة تعيين كلمة المرور ، فانتقل إلى صفحة Quick Test الرئيسية واتبع الإرشادات لإعادة
            تعيين
            كلمة المرور بالنقر فوق نسيت كلمة المرور. </ b>
            <br>
            <p> </p> تحياتي الحارة ،
            <br>
            فريق Quick Test