<p>Hi {{ name }}, </p>
<p>This is to notify you that your free trial subscription with us is expired. You will not be able to use our free
    service until you have an active plan.</p>
<p>Please subscribe with us for using our services more.</p>
<br>
<p>Thank you for using Quick Test.</p>
<br>
<b>NOTE: This is an auto generated email, Please do not reply.</b>
<br>
<p></p>Warm regards,
<br>
Quick Test Team