<p>Hi {{ name }}, </p>
<p> Welcome to Quick Test! <br> We’re excited to have you onboard. Experience our Test Case Management Tool used by
    thousands of the world’s best QA and Dev teams. <br> Your organization name is {{organizationName}}. </p>
<br>
<br>
<a href={{ verifyLink }}>Click here to verify your email.</a>
<br>
<br>
<b>NOTE: This is an auto generated email, Please do not reply.</b><br>
<b>*If this does not work or still stuck, You can alternatively go to Quick Test home page and follow instructions to
    resend the verification link.</b>
<br>
<p></p>Warm regards,
<br>
Quick Test Team